//EXTERNAL IMPORTS
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Nova+Cut&display=swap');

//STYLE SHEET IMPORTS
@import './components/homepage.scss';
@import './components/signup.scss';
@import './components/login.scss';
@import './components/navbar.scss';
@import './components/viewspot.scss';
@import './components/profilepage.scss';
@import './components/addspot.scss';

@import 'mapbox-gl/dist/mapbox-gl.css';

//VARIABLES
$body-font: 'Nova Cut', cursive;
$title-font: 'Limelight', cursive;
$background: #000411;

* {
  box-sizing: border-box;
}