.add-spot-div {
    min-height: 100vh;
    min-width: 100vw;
    background-color: #000411;
    color: #ffffff;
    .css-v6eyio {
        background-color: #000411;
    }
    .search-button {
        color: #000411;
    }
}