$body-font: 'Nova Cut', cursive;

.profile-div {
    min-height: 100vh;
    min-width: 100vw;
    background-color: #000411;
    font-family:  $body-font !important;
    color: white;
    .profile-data {
        padding: 15px;
    }
    .css-84zodg {
        display:flex;
        justify-content: space-evenly;
    }
    .spot-div {
        color:#000411;
        margin-right: 10%;
    }
    Button {
        color:#000411;
    }
}